html{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    height: 100%;
}
.shadow{box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15)}
body{
    background-color: #F2F2F2;
    margin: 0px;
    height: 100%;
}
h1{
    padding: 50px 0px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
    color: #D9863D;
}
h1>span{
    color: black;
}
nav{
    position: fixed;
    background-color: #F2F2F2;
    top: 50px;
    right: 10px;
    border: 2px;
    border-radius: 5px;
}
ul{
    list-style: none;
}
nav>ul{
    margin: 0px;
    padding:0px;
}
nav li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}
nav li:hover{
    background-color: #f2daac;
}
.now-nav{
    background-color: #F29F05;
}
.top-nav{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.bottom-nav{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    height: auto;
    /* position: relative;
    justify-content: center; */
}
.to-do-list{
    width: 500px;
    background-color: #F2F2F2;
    
    /* position: absolute;
    left: 30px; */
}
.planner{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    text-align: center;
}
.to-do-list-color{
    width: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 80%;
    content: "";
}
.to-do-list>ul{
    padding: 0px;
    width: 60%;
}
.to-do-list>ul>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0px;
}

.list-div>span{
    margin: 0px 20px;
    font-size: 16px;
}
.change-name>img{
    /* width: 10px; */
    height: 15px;
}
.list-div{
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}
button{
    border: 0px;
    padding: 0px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-button{
    width: 45px;
    background-color: transparent;
}
.footer-button>img>path{
    fill: #D9863D;
}
/* .footer-button>img{
    margin: 0px 20px;
} */
.music{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.music-banner{
    width: 100%;
    height: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #D9863D;
    content: "";
}
.music-command{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2daac;
}
.music-command>div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.tmp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}